{% extends 'base.html.twig' %}

{% block title %}Zenbourse - Inscription{% endblock %}

{% block body %}
    {% include 'registration/partials/menu.html.twig' %}

    <div class="container w-50 p-5 mb-4">
        <h1 class="fst-italic">S'inscrire</h1>
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}

        <button type="submit" class="btn btn-primary">Inscription</button>
        {{ form_end(registrationForm) }}

        <p class="pt-3">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
    </div>

{% endblock %}
